/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

/// Display flex - Flex direction
@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

/// Display flex - Flex direction
@mixin flex-col() {
  display: flex;
  flex-direction: column;
}

/// Set properties to fit and cover with a background
@mixin background-cover() {
  background-size: cover;
  background-position: center;
}
