// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $primary-color;
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto 100px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.fade-in-block {
  opacity: 1;
  max-height: 100vh; /* Une valeur suffisamment grande pour couvrir la hauteur maximale possible */
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.4s ease;
}

.fade-out-block {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

ul {
  list-style-type: none;
}
